<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://conteudo.imguol.com.br/c/entretenimento/78/2023/11/09/poster-do-anime-shangri-la-1699546911949_v2_900x506.png"
            alt=""
            srcset=""
            height="200px"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Shangri-La Frontier: anime misturando RPG online com luta é pedida perfeita</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                 ipsum dolor sit amet consectetur adipisicing elit. Expedita aut omnis, similique repellat quisquam animi corrupti quibusdam hic incidunt voluptas tempora molestias vero consequatur
            </a>
        </p>
    </div>
</div>