<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            id="{{ bigCard[0].id }}"
            photoCover="{{ bigCard[0].photo }}"
            cardTitle="{{ bigCard[0].title }}"
            cardDescription="{{ bigCard[0].description }}"
        >
        </app-big-card>

    </div>
    <div class="articles__others"> 
        <div *ngFor="let sc of smallCard;">
            <app-small-card
                id="{{ sc.id}}"
                photoCover="{{ sc.photo }}"
                cardTitle="{{ sc.title }}"
            >
            </app-small-card>
        </div>
        
    </div>
</div>